.sidebar {
  border: 1px solid rgba(0, 0, 0, 0.35);
  padding: 2rem 1rem;
  height: fit-content;
  width: 100%;
  border-radius: 10px;
  background: #fff;
}

.search {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.search input {
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  outline: none;
  border: none;
  box-shadow: 0 0 12px 0px rgba(0, 0, 0, 0.35);
  font-size: 18px;
  position: relative;
}

.search input::placeholder {
  font-size: 15px;
  letter-spacing: 1px;
}

.search button {
  position: absolute;
  right: 10px;
  top: 10px;
}

.filterByCategory {
  margin: 1rem 0;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.filterByCategory label {
  font-weight: 500;
  letter-spacing: 1px;
  padding: 0.5rem 0;
}

.filterByCategory select {
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  outline: none;
  border: none;
  box-shadow: 0 0 12px 0px rgba(0, 0, 0, 0.35);
  font-size: 18px;
}

.filterBySort {
  margin: 1rem 0 0 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filterBySort p {
  font-weight: 500;
  letter-spacing: 1px;
  padding: 0.5rem 0;
  font-size: 16px;
}

.filterBySort div {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .sidebar {
    position: absolute;
    top: 10%;
    left: -100%;
    margin: 0.2rem 0;
    width: 100%;
    transition: all 0.8s ease-in-out;
  }

  .sidebar.active {
    left: 0;
    width: 100%;
  }
}
